@font-face {
    font-family: Delfino;
    src: url("Delfino.otf") format("opentype");
}

::-webkit-scrollbar {
    width: 0.8vw;
    height: 0.8vw;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #707;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b;
}
body {
    margin:0;
}

.flex {
    display:flex;
    flex-wrap: wrap;
}

.flex * {
    /*flex:1;*/
    width:25%;
    height:20vw;
}

.relative {
    position:relative;
}

.relative span {
    position:absolute;
    top:70%;
    width:100%;
    background:linear-gradient(45deg, black, transparent);
    height:auto;
    text-align:center;
    font-size: 250%;
    font-family: Delfino;
    color: white;

}

.relative img {
    width:100%;
    height:100%;
    object-fit:cover;
}

@media only screen and (max-width: 1000px){
    .flex * {
        width:50%;
        height:40vw;
    }
}


.logged, .login {
    display: none;
}
