@font-face {
    font-family: Delfino;
    src: url("/Delfino.otf") format("opentype");
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #707;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b;
}
body {
    overflow-x: hidden;
    background: #303;
    font-size: 0;
    margin: 0;
    font-family: Delfino;
}

p {
    overflow: hidden;
    margin: 0;
    font-family: Delfino;
}
img {
    overflow: hidden;
    display: inline-block;
    width: 25vw;
    height: 20vw;
    object-fit: cover;
}
.block-5-logged, .span5-logged, .block-6-logged, .span6-logged, .my-account {
    display: none;
}
.mkdd, .msm, .wallpaper, .login {
    z-index: 3;
    position: absolute;
    top: 15vw;
    color: white;
    font-size: 3vw;
}
footer {
    position: absolute;
    background: blueviolet;
    left:0;
    right:0;
}
.https-button {
    position: relative;
    top: -0.5vw;
    font-family: Delfino;
    font-size: 1.6vw;
    margin-left: 4vw;
    margin-right: 2vw;
    vertical-align: middle;
}
.http-button {
    border: black solid 0.1vh;
    position: relative;
    top: -0.5vw;
    font-family: Delfino;
    font-size: 1.6vw;
    margin-left: 2vw;
    margin-right: 2vw;
    vertical-align: middle;
}
.https-available-text {
    position: relative;
    top: 0.8vw;
    padding-left: 5vw;
    font-size: 2vw;
    color: white;
    background: transparent;
    display: inline-block;
}
.mkdd {
    left: 9vw;
}

.msm {
    left: 9.8vw;
}

.wallpaper {
    left: 6vw;
}

.splatoon {
    z-index: 3;
    left: 2vw;
    top: 14.4vw;
    position: absolute;
    color: white;
    font-size: 3vw;
}
.login {
    left: 8vw;
}
.block-1{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.block-2 {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 25vw;
}
.block-3 {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50vw;
}
.block-4 {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 75vw;
}
.block-5 {
    z-index: 1;
    position: absolute;
    top: 20vw;
    left: 0;
}


.span1, .span2, .span3, .span4, .span5 {
    z-index: 2;
    position: absolute;
    top: 14.7vw;
    background: linear-gradient(45deg, black, transparent);
    width: 25vw;
    height: 4vw;
    left: 0;
}
@media only screen and (min-width: 1000px) and (max-height: 40vw) {
    footer {
        top: 40vw;
        bottom: auto;
    }
}
@media only screen and (min-width: 1000px) and (min-height: 40vw){
    footer {
        top: auto;
        bottom: 0;
    }
}
@media only screen and (max-width: 1000px) and (min-height: 133.3vw) {
    footer {
        top: auto;
        bottom: 0;
    }
}
@media only screen and (max-width: 1000px) and (max-height: 133.3vw) {
    footer {
        top: 120vw;
        bottom: auto;
    }
}
@media only screen and (max-width: 1000px){
    .https-button {
        position: relative;
        top: 2vw;
        font-size: 3.5vw;
        margin-left: 12vw;
        margin-right: 12vw;
        margin-bottom: 3.5vw;
    }
    .http-button {
        top: 2vw;
        font-size: 3.5vw;
        margin-left: 0;
        margin-bottom: 3.5vw;
    }
    .https-available-text {
        position: relative;
        top: 0.8vw;
        padding-left: 12vw;
        font-size: 4vw;
    }
    .block-1{
        position: absolute;
        top: 0;
        left: 0;
    }
    .block-2 {
        position: absolute;
        top: 0;
        left: 50vw;
    }
    .block-3 {
        position: absolute;
        top: 40vw;
        left: 0;
    }
    .block-4 {
        position: absolute;
        top: 40vw;
        left: 50vw;
    }
    .block-5 {
        position: absolute;
        top: 80vw;
        left: 0;
    }
    img {
        width: 50vw;
        height: 40vw;
    }
    .mkdd {
        left: 18vw;
        top: 30vw;
        font-size: 5vw;
    }
    .msm {
        left: 20vw;
        top: 30vw;
        font-size: 5vw;
    }
    .wallpaper {
        left: 13vw;
        top: 30vw;
        font-size: 5vw;
    }
    .splatoon {
        left: 8vw;
        top: 29vw;
        font-size: 5vw;
    }
    .login {
        left: 17vw;
        top: 30vw;
        font-size: 5vw;
    }
    .span1, .span2, .span3, .span4, .span5 {
        top: 29vw;
        width: 50vw;
        height: 8vw;
        left: 0;
    }
}